In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv("F:/50_Startups.csv")
data.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [3]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [4]:
data.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["State"]=le.fit_transform(data["State"])
data["State"]

0     2
1     0
2     1
3     2
4     1
5     2
6     0
7     1
8     2
9     0
10    1
11    0
12    1
13    0
14    1
15    2
16    0
17    2
18    1
19    2
20    0
21    2
22    1
23    1
24    2
25    0
26    1
27    2
28    1
29    2
30    1
31    2
32    0
33    1
34    0
35    2
36    1
37    0
38    2
39    0
40    0
41    1
42    0
43    2
44    0
45    2
46    1
47    0
48    2
49    0
Name: State, dtype: int32

In [6]:
x=data.drop(columns="Profit")
y=data["Profit"]
#y = data.Profit.values.reshape(-1,1)
#x = data.iloc[:,[0,1,2]].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.25)

In [8]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
x_pred=model.predict(x_train)
y_pred=model.predict(x_test)

In [9]:
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.9511461179792939
0.9325447894242298

In [10]:
from sklearn.metrics import r2_score
print(r2_score(y_train,x_pred))
print(r2_score(y_test,y_pred))

0.9511461179792939
0.9325447894242298

In [11]:
intercept = model.intercept_
slope = model.coef_
print("Intercept:", intercept)
print("Slope: ", slope)

Intercept: 41091.206521703396
Slope:  [  0.78258471   0.04496351   0.0327938  -11.61886233]

In [12]:
from sklearn.linear_model import Lasso
model1=Lasso()
model1.fit(x_train,y_train)
x_pred=model.predict(x_train)
y_pred=model.predict(x_test)

In [13]:
print("training score is",model.score(x_train,y_train)*100)
print("testing score is",model.score(x_test,y_test)*100)

training score is 95.1146117979294
testing score is 93.25447894242298

In [14]:
from sklearn.metrics import r2_score
print(r2_score(y_train,x_pred))
print(r2_score(y_test,y_pred))

0.9511461179792939
0.9325447894242298